@use "./variables.module" as vars;
@use "./mixin" as mix;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

ul {
	margin-top: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

// Text Styles

// Layout styles

.max-width {
	width: 100%;
	max-width: vars.$max-width;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	@include mix.from(480px) {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.weather-card {
	// --max-width: 320px;

	&.details {
		max-width: 600px;
	}

	width: 100%;
	// max-width: var(--max-width);
	background: linear-gradient(120deg, #89f7fe, #66a6ff);
	border: 2px solid vars.$secondary-color;
	// padding: 1rem;

	img {
		width: 125px;
		height: 125px;
	}
}

.chart-container {
	width: 40vw;
	aspect-ratio: 1 / 1;
}

// Vx charts custom styles
.vx-axis g,
.vx-axis line {
  stroke: #999;
}

.vx-axis text {
  fill: #999;
}

.vx-bar {
  transition: height 150ms, y 150ms;
}